{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "func-names": ["error", "never"],
    "no-var": "off",
    "no-plusplus": "off",
    "prefer-arrow-callback": "off"
  }
}
